<!-- <header class="header">
    <a routerLink="/">Home</a>
    @if(isLogged()){
        <a routerLink="/connections">Connections</a>
        <a routerLink="/routing">Routing</a>
        <a (click)="Logout()">Logout</a>
    }@else {
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
    }
</header>  -->
<h1 class="page-title">Connections</h1>
<header class="header">
    <a routerLink="/">Home</a>
    @if(isLogged()){
        <!-- <a routerLink="/connections">Connections</a> -->
        <a routerLink="/routing">Routing</a>
        <a (click)="Logout()">Logout</a>
    }@else {
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
    }
</header> 

<div class="container">
@if(!showForm || editingItem){
  <button class="btnForm" (click)="openForm()">+ New Connection</button>
}
  @if(showForm){
    <div class="form-wrapper">
      <div class="form-header">
        <h3>{{ editingItem ? 'Edit Connection' : 'Create New Connection' }}</h3>
      </div>
      <form #connForm="ngForm" (ngSubmit)="onSubmit(connForm)">
        <div class="form-grid">

          <div class="form-field">
            <label>Name</label>
            <input type="text" name="name" [(ngModel)]="formModel.name" #name="ngModel"
              class="formNewConnection" required pattern="^[A-Za-z0-9\s]{8,30}$">
            @if(name.touched && name.invalid){
              <div class="errorText">
                @if(name.errors?.['required']){ Name is required. }
                @if(name.errors?.['pattern']){ Name must be 8-30 letters only. }
              </div>
            }
          </div>

          <div class="form-field">
            <label>URL</label>
            <input type="text" name="url" [(ngModel)]="formModel.url" #url="ngModel"
              class="formNewConnection" [required]="formModel.type==='HTTP'" [disabled]="formModel.type==='SMPP'"
              pattern="https?:\/\/(www\.)?[a-zA-Z0-9\-]+\.[a-zA-Z]{2,}.*" >
            @if(url.touched && url.invalid){
              <div class="errorText">
                @if(url.errors?.['required']){ URL is required. }
                @if(url.errors?.['pattern']){ URL format is wrong. }
              </div>
            }
          </div>

          <div class="form-field">
            <label>Username</label>
            <input type="text" name="username" [(ngModel)]="formModel.username" #username="ngModel"
              class="formNewConnection" required pattern="^[a-zA-Z0-9]{8,30}$">
            @if(username.touched && username.invalid){
              <div class="errorText">
                @if(username.errors?.['required']){ Username is required. }
                @if(username.errors?.['pattern']){ Username must be 8-30 letters/numbers. }
              </div>
            }
            @if(username.value && isUsernameTaken(username.value)){
              <div class="errorText">Username already exists.</div>
            }
          </div>

          <div class="form-field">
            <label>Password</label>
            <input type="password" name="password" [(ngModel)]="formModel.password" #password="ngModel"
              class="formNewConnection" required pattern="^(?=.*[A-Z])(?=.*[0-9]).{8,}$">
            @if(password.touched && password.invalid){
              <div class="errorText">
                @if(password.errors?.['required']){ Password is required. }
                @if(password.errors?.['pattern']){ Min 8 chars, 1 uppercase & 1 number. }
              </div>
            }
          </div>

          <div class="form-field">
            <label>SMS Throughput</label>
            <input type="number" name="sms" [(ngModel)]="formModel.sms" #sms="ngModel"
              class="formNewConnection" required min="1" max="100000">
            @if(sms.touched && sms.invalid){
              <div class="errorText">
                @if(sms.errors?.['required']){ Required. }
                @if(sms.errors?.['type']){ Must be number. }
              </div>
            }
          </div>

          <div class="form-field">
            <label>Type</label>
            <select name="type" [(ngModel)]="formModel.type" #type="ngModel"
              class="formNewConnection" required [disabled]="editingItem">
              <option value="">Select type</option>
              @for(t of types; track t){
                <option [value]="t">{{ t }}</option>
              }
            </select>
            @if(type.touched && type.invalid){
              <div class="errorText">Type is required.</div>
            }
          </div>

        </div>

        <div class="form-actions">
          <button class="btnSave" type="submit"
            [disabled]="connForm.invalid || isUsernameTaken(username.value)">
            {{ editingItem ? '✓ Update' : '✓ Save' }}
          </button>
          <button class="btnCloseForm" type="button" (click)="closeForm()">Cancel</button>
        </div>
      </form>
    </div>
  }
  <div class="filter-bar">
    <input type="text" placeholder="Search by name" [(ngModel)]="searchName"  class="search-input">
    <select [(ngModel)]="selectedType" class="filter-select">
      <option value="">All types</option>
      <option value="HTTP">HTTP</option>
      <option value="SMPP">SMPP</option>
    </select>

    <button class="btnRst" (click)="resetFilters()">Reset filters</button>
  </div>

  @if(isLoading){
    <div class="loading">Loading...</div>
  }
  @else{
    <angular-slickgrid
      gridId="grid1"
      [columns]="columns"
      [options]="gridOptions"
      [dataset]="filteredData" 
      (onClick)="onGridClick($event)"></angular-slickgrid>
      <!-- (onAngularGridCreated)="onGridReady()"> 
    </angular-slickgrid> -->
  }
@if(showDeleteModal){
  <div class="modal-backdrop" (click)="cancelDelete()">
    <div class="modal" (click)="$event.stopPropagation()">
      <div class="modal-icon">🗑️</div>
      <h3>Delete Connection</h3>
      <p>Are you sure you want to delete <strong>{{ itemToDelete?.name }}</strong>?</p>
      <p class="modal-sub">This action cannot be undone.</p>
      <div class="modal-actions">
        <button class="btnDelete" (click)="deleteConfirmed()">Yes, Delete</button>
        <button class="btnCloseForm" (click)="cancelDelete()">Cancel</button>
      </div>
    </div>
  </div>
}
</div>