<!-- <p>routing works!</p> -->
<h1 class="page-title">Routing</h1>
<header class="header">
    <a routerLink="/">Home</a>
    @if(isLogged()){
        <a routerLink="/connections">Connections</a>
        <!-- <a routerLink="/routing">Routing</a> -->
        <a routerLink="/messages">Messages</a>
        <a (click)="Logout()">Logout</a>
    }@else {
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
    }
</header>

<div class="container">
    <!-- <app-loading></app-loading> -->
        @if(!showForm || editingItem){
        <button class="btnForm" (click)="openForm()">+ New Route</button>
        }
        @if(showForm){
            <div class="form-wrapper">
            <div class="form-header">
                <h3>{{ editingItem ? 'Edit Route' : 'Create New Route' }}</h3>
            </div>
            <form #connForm="ngForm" (ngSubmit)="onSubmit(connForm)">
                <div class="form-grid">
                    <div class="form-field">
                        <label>Country</label>
                        <select name="country" [(ngModel)]="formModel.country" #country="ngModel"
                            class="formNew" required (change)="onCountryChange()">
                            <option value="">Select country</option>
                            @for(t of countries; track t.id){
                                <option [value]="t.id">{{ t.name }}</option>
                            }
                        </select>
                        @if(country.touched && country.invalid ){
                            <div class="errorText">Country is required.</div>
                        }
                    </div>

                    <div class="form-field">
                        <label>Operators</label>
                        <select name="operator" [(ngModel)]="formModel.operator" #operator="ngModel"
                            class="formNew" required [disabled]="!formModel.country" (change)="onCountryChange()">
                            <option value="">Select operator</option>
                        
                            @for(t of filteredOperators; track t.id){
                                <option [value]="t.id">{{ t.name }}</option>
                            }

                        </select>
                        @if(operator.touched && operator.invalid){
                            <div class="errorText">Operator is required.</div>
                        }
                    
                    </div>
        <!-- dodati search padajuceg menija, on key up -->
                    <div class="form-field">
                        <label>Connection</label>
                        <select name="connection" [(ngModel)]="formModel.connection" #connection="ngModel"
                            class="formNew" required >
                            <option value="">Select connection</option>
                            @for(t of connections; track t.id){
                                <option [value]="t.id">{{ t.name }}</option>
                            }
                        </select>
                        @if(connection.touched && connection.invalid){
                            <div class="errorText">Connection is required.</div>
                        }
                    </div>

                    <div class="form-field">
                        <label>Price</label>
                        <input type="number" step="0.001"  name="price" [(ngModel)]="formModel.price" #price="ngModel"
                            class="formNew" >
                        @if(price.touched && price.invalid){
                            <div class="errorText">
                                @if(price.errors?.['required']){ Required. }
                                @if(price.errors?.['type']){ Must be number. }
                            </div>
                        }
                    </div>

                    <div class="form-field">
                        <label>Currency</label>
                        <select name="currency" [(ngModel)]="formModel.currency" #currency="ngModel"
                            class="formNew" required >
                            <option value="">Select type</option>
                            @for(t of currencies; track t){
                                <option [value]="t">{{ t }}</option>
                            }
                        </select>
                        @if(currency.touched && currency.invalid){
                            <div class="errorText">Currency is required.</div>
                        }
                    </div>
                
                    <div class="form-actions">
                        <button class="btnSave" type="submit"
                            [disabled]="connForm.invalid">
                            {{ editingItem ? '✓ Update' : '✓ Save' }}
                        </button>
                        <button class="btnCloseForm" type="button" (click)="closeForm()">Cancel</button>
                    </div> 
                </div>
            </form>
            </div>
        }
        <div class="filter-bar">
            <input type="text" placeholder="Search by country" [(ngModel)]="searchCountry"  class="search-input">
            <input type="text" placeholder="Search by operator" [(ngModel)]="searchOperator"  class="search-input">
            <input type="text" placeholder="Search by connection" [(ngModel)]="searchConnection"  class="search-input">

            <!-- <select [(ngModel)]="selectedType" class="filter-select">
            <option value="">All types</option>
            <option value="HTTP">HTTP</option>
            <option value="SMPP">SMPP</option>
            </select> -->

            <button class="btnRst" (click)="resetFilters()">Reset filters</button>
        </div>
            <angular-slickgrid
            gridId="grid1"
            [columns]="columns"
            [options]="gridOptions"
            [dataset]="filteredData" 
            (onClick)="onGridClick($event)"></angular-slickgrid>
        @if(showDeleteModal){
        <div class="modal-backdrop" (click)="cancelDelete()">
            <div class="modal" (click)="$event.stopPropagation()">
            <div class="modal-icon">🗑️</div>
            <h3>Delete Route</h3>
            <p>Are you sure you want to delete this route?</p>
            <p class="modal-sub">This action cannot be undone.</p>
            <div class="modal-actions">
                <button class="btnDelete" (click)="deleteConfirmed()">Yes, Delete</button>
                <button class="btnCloseForm" (click)="cancelDelete()">Cancel</button>
            </div>
            </div>
        </div>
        } 
</div>